body {
	margin: 12vh;
	text-align: center;
	font-size: calc(8vw + 8vh);
	background: #314d79;
	color: #fff;
	font-family: sans-serif;
	letter-spacing: -.3vw;
	overflow: hidden;
  font-family: "Lacquer", system-ui;
}


.rugrats {
	margin: 0 auto;
	text-align: center;
}
.rugrats span {
	display:inline-block;
	transition: color linear 0.5s forwards;
	-webkit-text-stroke-width: .32vw;
	-webkit-text-stroke-color: black;
	text-shadow: .4vw .5vw #000;
}

.rugrats span {
	text-transform:capitalize;
	text-transform:lowercase;
/* 	animation:caseChange 5s ease infinite forwards;
}
@keyframes caseChange{
	from{
		text-transform:uppercase;
	}
	to{
		text-transform:lowercase;
	}
} */
}